.cdpn-menu{
	flex-basis: 70px;
	box-sizing: border-box;
  
  background: $ui-menu-background;
  border-right: $ui-border;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-app-region: drag;

  padding: 30px 0px;

  & > .icon{
    width: 25px;
    margin-bottom: 40px;
  }
}