.cdpn-splashscreen{
	align-items: center;
	justify-content: center;
	flex-direction: column;

	& > .cdpn-content{
		width: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& > img{
			margin-top: -47px;
		}
	}
}