#app.macOS{

  .cdpn-window-controls{
    .close, .minimize, .maximize{
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin: 0px 3px;

      &:hover{
        opacity: .8;
      } 
    }

    .close{
      margin-left: 15px;
      background: $macOS-window-controls-red;
      border: $macOS-window-controls-red-border;
    }

    .minimize{
      background: $macOS-window-controls-yellow;
      border: $macOS-window-controls-yellow-border;
    }

    .maximize{
      background: $macOS-window-controls-green;
      border: $macOS-window-controls-green-border;
    }
  } 


}