#app.windows{

  .cdpn-window-controls{
    flex-direction: row-reverse;

    .close, .minimize, .maximize{
      width: 10px;
      height: 10px;
      padding: 15px 10px;
      background-position: center center;
      background-repeat: no-repeat;

      &:hover{
        background-color: rgba(0,0,0,.5);
      } 
    }

    .close{
      margin-right: 15px;
      background-image: url(../images/windows-window-control-close.svg);
    }

    .minimize{
      order: 1;
      background-image: url(../images/windows-window-control-minimize.svg);
    }

    .maximize{
      background-image: url(../images/windows-window-control-maximize.svg);
    }
  } 


}