// Codepen original colors
$dark-jungle-green  	: #1F1F1F;
$raisin-black       	: #212121;
$onyx               	: #383838;
$smokey-black					: #0B0B0B;

$white              	: #FFFFFF;
$eucalyptus         	: #42D589; /* Green */
$electric-blue      	: #7DE0FE; /* Bright blue */
$united-nations-blue 	: #4A90E2;


// OS - macOS
$macOS-window-controls-red              : #FF796E;
$macOS-window-controls-red-border       : #EB5A50;
$macOS-window-controls-yellow           : #FFCC55;
$macOS-window-controls-yellow-border    : #E7B457;
$macOS-window-controls-green            : #06CF5F;
$macOS-window-controls-green-border     : #00B43F;
  
