// UI
$ui-border-color  	: rgba(255,255,255,.05);
$ui-border      		: 1px solid $ui-border-color;
$ui-background  		: $raisin-black;
$ui-menu-background : $dark-jungle-green;

$ui-top-menu-height			: 50px;
$ui-bottom-menu-height	: 65px;